body{
    background-color:white;
    }
    .box
    { 
         height: 20cm;
        width:100%;
        padding: 0;
        margin: 0;
        background-image: url("file:///Users/kavitapandey/Documents/banner2.jpg");
        
    }
    .header{
    background-color:#752154;
    height: fit-content;
    width:auto;
    }
    span{
        color:rgb(239, 188, 20);
        
    }
    h1{
        color:white;
    }
    h2{
        color: white;
        font-size:150%;
        text-align: left;
    }
    h3{
        text-align:center;
        
        color:#752154;
        font-size: 150%;
    }
    .menu{
        margin: 0;
        padding: 0;
        list-style:none;
        text-align:left;
        
       
    }
    .menu li{
        display: inline-block;
        padding: 15px;
        color:white;
    }
    .menu li a {
        color: white;
        text-decoration: bold;
        font-size: 16px;
        text-transform: uppercase;
        font-family: sans-serif;
    }
    
    .left-container{
    color:white;
    margin-left: 200px;
    display:inline-block;
    float:left;
    margin-top: 110px;
    }
    h1{
        font-size: 400%;
    
    
    }
    .right-container{
        background-color: white;
      display:inline-block;
        margin-top: 100px;
        margin-right: 200px;
        margin-bottom: 100px;
    float:right;
        width: 400px;
        height:450px;
    }
    input[type=text],input[type=calender]{
        width: 100%;
        padding: 15px;
        margin: 5px 0px 22px 0px;
        border: none;
        background:#f1f1f1;
      }
      .column1{
        font-size: 190%;
    }
       
      .btn {
        background-color:  rgb(234, 132, 15);
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
      }
      .btn:hover {
        background-color: #752154;
        opacity: 1;
      } 
    .row{
        padding:10px;
        height: 4px;
        margin: 30px;
    }
    .box2{
        height:20cm;
        margin-top: 1px;
      margin-left: 0;
     background-color: #f1f1f1;
    }
    
    .container-le{
        color: white;
        display:inline-block ;
        float: left;
        width: 40%;
        margin-top: 100px;
        margin-left: 40px;
        border:1cm; 
    }
    .container-ri{
        color:white;
        display: inline-block;
        width: 20%;
        margin-top: 100px;
        margin-right:35% ; 
        float:right;
        border:1cm;
    }
    #para1{
        text-align: left;
        color:#232022;
        font-size: 24px;
        margin-top: 5%;
        font-family: 'Playfair Display', serif;
    }
    h3.center{
        text-align: justify;
    font-size: 17px;
    font-weight: 2%;
        color:#6a6568;
        font-family: 'Playfair Display', serif;
        line-height: 29px;
    }
    
    
    
    
    